.input {
    max-width: 200px;
    max-height: 3rem;
    border-radius: 1rem;
    outline: none;
    border: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: var(--background-primary);
    padding: 1rem;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
}

.input:focus {
    border: 2px solid var(--color-primary);
    caret-color: var(--color-primary);
    color: var(--color-primary);
    box-shadow: 0 1rem 1rem var(--color-shaddow);;
}

.input:focus::placeholder {
    color: #7380ec;
}