.input {
    max-width: 190px;
    height: 30px;
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 1em;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
}

.input:focus {
    border: 2px solid #7380ec;
    caret-color: #7380ec;
    color: #7380ec;
    box-shadow: 4px 4px 10px #070707;
}

.input:focus::placeholder {
    color: #7380ec;
}