.signin,
.signup {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 3rem 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(30px);
    animation: animateForm 1.5s ease forwards;
    width: 540px;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.text {
    text-align: center;
    margin: 1rem 0;
}

.input {
    display: block;
    width: 100%;
    border: 1px solid var(--foreground-rgb);
    border-radius: 1rem;
    outline: none;
    padding: 1.2rem;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 1rem;
    font-size: 1rem;
}

.input::placeholder {
    color: white;
}

.submit {
    background: #cc33cc;
    opacity: 0.7;
    border: 1px solid var(--foreground-rgb);
    border-radius: 1rem;
    transition: all 300ms ease;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1.2rem;
    width: 100%;
}

.submit:hover {
    opacity: 1;
}

.block {
    display: block;
    margin-top: 1rem;
    opacity: 1;
}

.block label {
    color: #30fff5;
    cursor: pointer;
}

@keyframes animateForm {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@keyframes bg-rotate {
    from {
        background: linear-gradient(-45deg, rgba(201, 34, 143, 1) 0%, rgba(255, 153, 51, 1) 100%);
    }

    to {
        background: linear-gradient(+45deg, rgba(201, 34, 143, 1) 0%, rgba(255, 153, 51, 1) 100%);
    }
}